/*CSS VARS FOR APP BODY*/
$body-bg-color: #d8d3ce;
$body-font-family: impact;
$body-font-size: 18px;
$body-font-color: #000;

/*CSS VARS FOR APP HEADER*/
$header-bg-color: rgb(173, 174, 180);
$header-font-family: impact;
$header-font-size: 18px;
$header-font-color: #000;
$header-height:45px;

/*CSS VARS FOR APP NAV MENU*/
$nav-menu-bg-color: #000;
$nav-menu-font-family: impact;
$nav-menu-font-size: 18px;
$nav-menu-font-color: #000;


/*CSS VARS FOR APP SETTINGS MENU*/
$settings-menu-bg-color: #000;
$settings-menu-font-family: impact;
$settings-menu-font-size: 18px;
$settings-menu-font-color: #000;
