.fade-enter-active {
    transition: opacity 1s ease-in-out;
}

.fade-leave-active {
    transition: opacity 0.1s ease-in-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.expandleft-enter-active {
    transition: transform .25s ease-out;
    transform-origin:left;
    transform: scaleX(1);
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expandleft-leave-active {
    transition: transform .25s ease-in;
    transform-origin:left;
    transform: scaleX(0);
}

.expandright-enter-active {
    transition: transform .25s ease-out;
    transform-origin:right;
    transform: scaleX(1);
}
/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expandright-leave-active {
    transition: transform .25s ease-in;
    transform-origin:right;
    transform: scaleX(0);
}

.expandright-leave, .expandright-enter, .expandleft-leave, .expandleft-enter{
    transform: scaleX(0);
}

#app{
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}